<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/index.css">
    <h1 class="text-center mb-3 mb-md-4 mb-xl-5">All Workspaces</h1>

    <ul>
        <% for(let workspace of workspaces){ %>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid rounded"
                            src="<%= workspace.images.length > 0 ? workspace.images[Math.floor(Math.random()*workspace.images.length)].url: ""%> "
                            alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= workspace.title %>
                            </h5>
                            <p class="card-text">
                                <%= workspace.description %>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    <%= workspace.location %>
                                </small>
                            </p>
                            <a href="/workspaces/<%= workspace._id %>" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
    </ul>

    <footer>
        <a href="/workspaces/new">Add workspace</a>
    </footer>