<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/stars.css">
    <link rel="stylesheet" href="/stylesheets/show.css">

    <div class="row">
        <div class="col-md-6">
            <div id="workspaceCarousel" class="carousel slide mt-4 mt-md-0" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% workspace.images.forEach((img, i)=> {%>
                        <div class="carousel-item <%= i === 0 ? " active" : '' %>">
                            <img src="<%= img.url %>" class="d-block w-100" alt="">
                        </div>
                        <% }) %>
                </div>
                <% if(workspace.images.length> 1){ %>
                    <button class="carousel-control-prev" type="button" data-bs-target="#workspaceCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#workspaceCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    <% } %>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= workspace.title %>
                    </h5>
                    <p class="card-text">
                        <%= workspace.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= workspace.location %>
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-volume-up"></i> Quiet Space
                    </li>
                    <li class="list-group-item">
                        Submitted by <%= workspace.author.username %>
                    </li>
                </ul>

                <% if(currentUser && workspace.author.equals(currentUser._id)) { %>
                    <div class="card-body">
                        <a href="/workspaces/<%= workspace._id %>/edit"
                            class="card-link btn btn-primary btn-custom">Edit</a>
                        <form class="d-inline" action="/workspaces/<%=workspace._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger card-link btn-custom">Delete</button>
                        </form>
                    </div>
                    <% } %>

                        <div class="card-footer text-muted">
                            <a href="/workspaces">All Workspaces</a>
                        </div>
            </div>
        </div>

        <div class="col-md-6">
            
            <h2 class="mb-3">Reviews</h2>
            <% if(workspace.reviews.length === 0 ){ %>
                <p class="lead">This workspace has not been reviewed yet. Be the first to write a review!</p>
            <% } %>

            <% for(let review of workspace.reviews){ %>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="mb-3">
                            <h5 class="card-title">
                                <%= review.author.username %>
                            </h5>
                            <p class="starability-result" data-rating="<%= review.rating %>">
                                Rated: <%= review.rating %> stars
                            </p>
                            <p class="card-text">
                                <%= review.body %>
                            </p>

                            <% if(currentUser && review.author.equals(currentUser._id)) { %>
                                <form action="/workspaces/<%= workspace._id %>/reviews/<%= review._id %>?_method=DELETE"
                                    method="POST">
                                    <button class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% } %>
            <a href="/workspaces/<%= workspace._id %>/reviews/new" class="btn btn-sm btn-success mt-1">Write a Review</a>
        </div>
    </div>